.container {
  background: transparent;
  border-radius: 30px;
  /* border: 2px solid cornflowerblue; */
  width: 70%;
  /* height: 90%; */
  align-items: center;
  min-height: 600px;
}
.profileLogo {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 1rem;
  overflow: hidden;
  align-items: center;
  align-self: center;
  border :2px solid cornflowerblue;
  box-shadow: 0 20px 35px rgba(255, 255, 255, 0.79);

}

.profileLogo:hover
{
  background: #d900ff;
  color: aqua;
 
  border :2px solid cornflowerblue;
  box-shadow: 0 20px 35px rgba(255, 255, 255, 0.79);
  border-radius: 50%;
}

.profile {
  /* background: blanchedalmond; */
  justify-content: space-between;
  
  border-radius: 10px;
  text-emphasis: inherit;
  text-shadow: 5px 5px 15px rgb(7, 183, 236);
 
  padding: 3rem;
  color: rgb(0, 229, 255);
  text-shadow:0 2px 5px rgba(186, 217, 8, 0.877);
 

  background-image: linear-gradient(
    40deg,
    #d900ff 30%,
    rgb(25, 126, 233) 100%,
    rgb(205, 248, 255) 45%
    
  );
  border: 2px solid rgba(100, 237, 216);
  box-shadow: 0 20px 35px rgba(21, 145, 234, 0.863);
  min-height: 300px;
  margin: 5rem;
}

.details
{
    display: inline-flexbox;
    color: rgb(6, 252, 59);
    /* font-weight: bold; */
    font-family:'Courier New', Courier, monospace;
    text-shadow:0 20px 35px rgba(186, 217, 8,);
 
}
.icons
{
    /* display: inline-block; */
    display: inline-flex;
    width: 20%;

    
}
.icon1
{
    font-size: 44px;
    animation: float 2s ease-in-out infinite;
    background: transparent;
}
.icon2
{
    font-size: 44px;
    animation: float 3s ease-in-out infinite;
    background: inherit;
    
}
.icon3
{
    font-size: 44px;
    animation: float 3.5s ease-in-out infinite;
   
  
}
.icon3:hover
{background: transparent;
}
.icon2:hover
{
background: transparent;
}
.icon1:hover
{background: transparent;
}

.IconContainer
{
/* display: grid;
grid-row: 1; */
width: 40%;
display: flex;
flex-flow: row-reverse wrap;
flex-direction: column-reverse;

}

.github
{
   
    color: black;
    background-color: inherit;
}
.Linkedin
{
    color: rgb(0, 106, 255);
    /* animation-delay: 2s; */
    background: inherit;
    /* box-shadow: 0 2px 5px rgba(53, 4, 250, 0.79);
    padding: 5px; */
    
}
/* .instagram
{
    
    color: aliceblue;
    border-radius: 10px;
    background-image: linear-gradient(
        40deg,
        #d900ff 0%,
        #ff3c00 100%,
        #fffc00 100%
        
      );
    

} */
.instagram{
    background: #f09433; 
    
    color: aliceblue;
    border-radius: 10px;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }


.icon a{
    text-decoration: none;
}


@keyframes float {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }

}
